
@media (max-width: 1024px) {
    div .text {
        left: 30% !important;
        width: 37% !important;
        height: 30vh !important;
    }

    .buttons {
        left: 15% !important;
    }

    .text_main {
        font-size: 400%;
        padding: 0 !important;
        display: block !important;
    }

        p {
            display: none;
        }
    
}



body {
    margin: 0;
    padding: 0;
}

#vanilla-slideshow-container {
    width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
}

#vanilla-slideshow .vanilla-slide {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

    /*#vanilla-slideshow .vanilla-slide a {
        visibility: unset;
    }*/

    #vanilla-slideshow .vanilla-slide.vanilla-active {
        opacity: 1;
    }

        /*#vanilla-slideshow .vanilla-slide.vanilla-active a {
            visibility:visible !important;
        }*/

    #vanilla-slideshow .vanilla-slide img {
        min-height: 100vh;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
    }



#vanilla-slideshow-previous {
    position: absolute;
    left: 14vh;
    top: 47%;
    width: 6.7vh;
    height: 7vh;
    background-position: 0 100%;
    cursor: pointer;
    opacity: 0.75;
    z-index: 5;
    display: none;
}
.two_11 {
    width: 100%;
    height: 40vh;
}

#vanilla-slideshow-next {
    position: absolute;
    right: 1.4vh;
    top: 47%;
    width: 48px;
    height: 50px;
    background-position: 100% 100%;
    cursor: pointer;
    opacity: 0.75;
    z-index: 5;
    display: none;
}

    #vanilla-slideshow-previous:hover, #vanilla-slideshow-next:hover {
        opacity: 1;
    }

#vanilla-indicators {
    display: inline-block;
    z-index: 5;
    position: absolute;
    bottom: 20px;
}

.vanilla-indicators {
    box-shadow: 0 0 10px #333333;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    float: left;
    margin-right: 3px;
    cursor: pointer;
}

    .vanilla-indicators.vanilla-active {
        background-color: #ffffff;
    }

div .text {
    position: absolute;
    bottom: 4em;
    left: 30vh;
    width: 67vh;
    height: 22vh;
    padding: 1em;
    background: rgba(255, 255, 255, .5);
    border-radius: 4px;
}

div .icon {
    position: absolute;
    left: 11vh;
    padding: 1vh;
}

    div .icon img {
        width: 200px;
        height: 140px;
    }

#nav-bar {
    margin-top: 10%;
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
    width: 12vh;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
    padding-top: 10px;
}

.nav-item img {
    width: 5.6vh;
    height: 5.6vh;
    text-align: center;
    padding-top: 48%;
    padding-bottom: 35%;
}

.column {
    position: relative;
    float: left;
    width: 50%;
    height: 55vh;
    text-align: center;
}

.column_two {
    position: relative;
    float: left;
    width: 50%;
    height: 40vh;
    text-align: center;
}

.column_three {
    position: relative;
    float: left;
    width: 33.33%;
    height: 40vh;
    text-align: center;
}

.column_four {
    position: relative;
    float: left;
    width: 25%;
    height: 40vh;
    text-align: center;
}

.column_fours {
    position: relative;
    float: left;
    width: 25%;
    height: 40vh;
    text-align: center;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.column_fours, .column_four, .column_three, .column_two a {
    text-align: center;
    font-size: 3.5vh;
}

.rows {
    width: 100%;
    height: 55vh;
    background: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.row {
    width: 100%;
    height: 40vh;
    background: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.text_main {
    font-size: 5.6vh;
    position: absolute;
    bottom: 9.8vh;
    left: 0;
    padding: 4.2vh;
    color: #ffffff;
}

.arrow {
    width: 2.8vh;
    height: 2.38vh;
    margin-bottom: -0.56vh;
}

p {
    font-size: 2vh;
    text-align: left;
    position: absolute;
    bottom: 4.2vh;
    left: 0;
    padding: 4.2vh;
    color: #ffffff;
}

.column_four a {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 18vh;
    left: 0;
    color: #ffffff;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

.column_twos a {
    width: 100%;
    text-align: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    color: #ffffff;
    text-decoration: none;
}

.column_twos {
    position: relative;
    float: left;
    width: 50%;
    height: 40vh;
    text-align: center;
}


.column_fours a {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 18vh;
    left: 0;
    color: #ffffff;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

.column_two a {
    width: 100%;
    text-align: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    bottom: 18vh;
    color: #ffffff;
    text-decoration: none;
}

.column_three a {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 18vh;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    text-decoration: none;
}

.two {
    height: 55vh;
    width: 100%;
    opacity: 0.75;
}

.two_1 {
    width: 100%;
    height: 40vh;
    opacity: 0.75;
}

.four {
    width: 100%;
    height: 40vh;
    opacity: 0.75;
}

.three {
    width: 100%;
    height: 40vh;
    opacity: 0.75;
}

.heading {
    width: 100%;
    height: 45%;
    display: inline-block;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: rgba(0,0,0,1);
    letter-spacing: 1px;
    overflow: visible;
    font-style: normal;
    font-family: Fira Sans, sans-serif;
}

.button {
    width: 14.2vh;
    height: 3vh;
    text-align: center;
    position: absolute;
    bottom: 2.84vh;
    left: 4%;
    display: inline-block;
    margin: 0;
    padding: 1.68vh 2.24vh;
    border: 0;
    background-color: black;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.79vh;
    line-height: 1.7;
    font-family: "Helvetica Neue", Arial, sans-serif;
    cursor: pointer;
    outline: none;
}

.buttons {
    width: 18.2vh;
    height: 6.16vh;
    text-align: center;
    position: absolute;
    bottom: 2.84vh;
    left: 64%;
    display: inline-block;
    margin: 0;
    padding: 1.68vh 2.24vh;
    border: 0;
    background-color: black;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.79vh;
    line-height: 1.7;
    font-family: "Helvetica Neue", Arial, sans-serif;
    cursor: pointer;
    outline: none;
}

    .buttons a {
        color: #ffffff;
        text-decoration: none;
    }

footer {
    width: 100%;
    background-color: black;
    text-align: center;
    color: aliceblue;
    top: 0;
    font-size: 13px;
}

    footer hr {
        margin-top: 10px;
        background-color: black;
        border: 0;
        border-bottom: 1px white solid;
        color: white;
        width: 50%;
        text-align: center;
    }

    footer div {
        padding-top: 25px;
        padding-bottom: 10px;
    }

    footer label {
        display: block;
    }

    footer i {
        font-size: 25px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    footer a {
        color: gray;
        text-decoration: none;
    }

.footer_main {
    color: white;
    padding-top: 25px;
}

.footer_mains {
    color: white;
}
